{% extends 'base.html' %}
{% load static %}

{% block a %}
<div class="text-center fs-1 mt-2" xmlns="http://www.w3.org/1999/html"><b class="text-danger">Google</b> Privacy &<b class="text-mycolor"><u>Policy
    <i class="fa-solid fa-file-shield"></i></u></b></div>
<div class="row">
    <div class="col-sm-12">
        <img src="{% static 'images/paint.png' %}" style="height:300px;margin-left:28%;width:600px;"/>
        <h2 class="text-center fs-4 mt-2">When you use our services, you’re trusting us with your information.<br/>
            We understand this is a big responsibility and work hard to protect<br/>
            your information and put you in control.</h2><br/><br/>
        <p class="text-center">This Privacy Policy is meant to help you understand what information we collect, why we
            collect it,
            and how you can<br/> update, manage, export, and delete your information.</p>
        <img src="{% static 'images/em2.jpg' %}" style="height:400px;margin-left:18%;width:300px;"/>
        <p class="ms-5 mt-5;">We build a range of services that help millions of people daily to explore and interact
            with the world in new ways.
            <br/>Our services include:</p>
        <ul type="disc" class="ms-5 mt-3 mb-4">
            <li class="mb-3">Google apps, sites, and devices, like Search, YouTube, and Google Home</li>
            <li class="mb-3">Platforms like the Chrome browser and Android operating system</li>
            <li class="mb-3">Products that are integrated into third-party apps and sites, like ads, analytics, and
                embedded Google Maps
            </li>
        </ul>
        <p class="ms-5">You can use our services in a variety of ways to manage your privacy. For example, you can sign
            up for a Google Account
            if<br/> you want to create and manage content like emails and photos, or see more relevant search results.
            And you can use many<br/>
            Google services when you’re signed out or without creating an account at all, like searching on Google or
            watching<br/> YouTube videos.
            You can also choose to browse the web in a private mode, like Chrome Incognito mode. And across our<br/>
            services,
            you can adjust your privacy settings to control what we collect and how your information is used.</p>
        <p class="ms-5 mt-5 mb-5">To help explain things as clearly as possible, we’ve added examples, explanatory
            videos, and definitions for <a href="#" style="text-decoration:none;">key terms</a>.
            And<br/> if you have any questions about this Privacy Policy, you can <a href="#"
                                                                                     style="text-decoration:none;">contact
                us</a>.</p>
        <hr/>
        <h1 class=" ms-5 mt-5 mb-4">Things you create or provide to us</h1>
        <img src="{% static 'images/panel.jpg' %}" style="height:300px;margin-left:25%;width:400px;"/>
        <p class="ms-5 mt-3 mb-5">When you create a Google Account, you provide us with personal information that
            includes your name and a password.<br/>
            You can also choose to add a phone number or payment information to your account.
            Even if you aren’t signed in to a <br/>Google Account, you might choose to provide us with information —
            like
            an email address to receive updates about our services.</p>
        <p class="ms-5 mt-5 mb-5">We also collect the content you create, upload, or receive from others when using our
            services.
            This includes things like<br/> email you write and receive, photos and videos you save, docs and
            spreadsheets you create, and comments<br/>
            you make on YouTube videos.</p>
        <hr/>
        <h2 class="ms-5 mb-4 mt-5">Information we collect as you use our services</h2>
        <h4 class="ms-5">Your apps, browsers & devices</h4>
        <h5 class="mt-3 ms-5 mb-2 fs-5">Your activity</h5>
        <img src="{% static 'images/tall.png' %}" style="height:300px;margin-left:25%;width:500px;"/>
        <p class="ms-5 mt-4">We collect information about your activity in our services, which we use to do things like
            recommend a YouTube video you <br/>
            might like. The activity information we collect may include:</p>
        <ul type="disc" class="ms-5 mt-3 mb-4">
            <li class="mb-4">Terms you search for</li>
            <li class="mb-4">Videos you watch</li>
            <li class="mb-4">Views and interactions with content and ads</li>
            <li class="mb-4">Voice and audio information</li>
            <li class="mb-4">Purchase activity</li>
            <li class="mb-4">People with whom you communicate or share content</li>
            <li class="mb-4">Activity on third-party sites and apps that use our services</li>
            <li class="mb-4 ">Chrome browsing history you’ve synced with your Google Account</li>
        </ul>
        <p class="ms-5 mb-5 mt-4">If you use our services to make and receive calls or send and receive messages, we may
            collect call and message
            log<br/> information like your phone number, calling-party number, receiving-party number, forwarding
            numbers, sender
            and<br/> recipient email address, time and date of calls and messages,
            duration of calls, routing information, and types and<br/> volumes of calls and messages.</p>
        <p class="ms-5 mb-5">You can visit your Google Account to find and manage activity information that’s saved in
            your account.</p>
        <hr/>
        <a href="#" style="text-decoration:none;margin-left:7%;" class="mt-4 mb-4">Go to Google Account</a>
        <hr/>
        <h3 class="ms-5 mt-5 mb-3">Your location information</h3>
        <img src="{% static 'images/left.png' %}" style="height:300px;margin-left:25%;width:400px;"/>
        <p class="ms-5 mt-4 mb-4">We collect information about your location when you use our services, which helps us
            offer features like driving directions,<br/> search results for things near you,
            and ads based on your general location.</p>
        <p class="ms-5 mb-5 mt-5">Your location can be determined with varying degrees of accuracy by:</p>
        <ul type="disc" class="ms-5 mt-3 mb-4">
            <li class="mb-4">GPS and other sensor data from your device</li>
            <li class="mb-4">IP address</li>
            <li class="mb-4">Activity on Google services, such as your searches and places you label like home or work
            </li>
            <li class="mb-4">Information about things near your device, such as Wi-Fi access points, cell towers, and
                Bluetooth-enabled devices
            </li>
        </ul>
        <p class="ms-5 mt-4 mb-5">The types of location data we collect and how long we store it depend in part on your
            device and account settings.
            For<br/> example, you can turn your Android device’s location on or off using the device’s settings app. You
            can also turn on <br/>
            Location History if you want to create a private map of where you go with your signed-in devices. And if
            your Web & App <br/>
            Activity setting is enabled, your searches and other activity from Google services, which may also include
            location<br/> information, is saved to your Google Account. Learn more about how we use location
            information.</p>
        <hr/>
        <p class="mt-5 ms-5 mb-5">In some circumstances, Google also collects information about you from publicly
            accessible sources.
            For example, if your<br/> name appears in your local newspaper, Google’s Search engine may index that
            article
            and display it to other people if they<br/> search for your name. We may also collect information about you
            from
            trusted partners, such as directory services who<br/> provide us with business information to be displayed
            on Google’s
            services, marketing partners who provide us with<br/> information about potential customers of our business
            services,
            and security partners who provide us with information to <br/>protect against abuse. We also receive
            information
            from advertising partners to provide advertising and research services<br/> on their behalf.</p>
        <p class="ms-5 mb-5 ">We use various technologies to collect and store information, including cookies, pixel
            tags, local storage,
            such as browser<br/> web storage or application data caches, databases, and server logs.</p>
        <hr/>
       
        <iframe width="600" height="360" src="https://www.youtube.com/embed/QUr6tficM8I" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen style="margin-left:25%;" class="mt-4 mb-3"></iframe>
        <p class="ms-5 mb-4 text-primary">Watch this to now more...</p><hr/>
        <p class="mt-3 ms-5 mb-4">This should come as no surprise anymore, but your email isn't private. In fact, it's one of the
            least secure methods of<br/> communication you can use. In contrast, phone calls typically aren't recorded
            and stored, and even if they were,<br/>
            your employer and law enforcement would have to go to court to gain access to them.</p>
        <p class="ms-5 mb-4">A company should have a corporate email policy in place to warn and guide employees against email threats <br/>
            such as phishing attacks. The policy may place limits on what types
            of files employees are able to open, <br/> download or exchange with others.</p>
    </div>
</div>
{% endblock %}